pystac-client>=0.9,<1.0
requests>=2.32,<3.0
tqdm>=4.67,<5.0
PyYAML>=6.0,<7.0
numpy>=2.0,<3.0
rasterio>=1.4,<2.0
Pillow>=11.0,<13.0
google-api-python-client>=2.149,<3.0
google-auth>=2.35,<3.0
google-auth-httplib2>=0.2,<1.0
google-auth-oauthlib>=1.2,<2.0
textual>=8.2,<9.0
matplotlib>=3.9,<4.0
ultralytics>=8.3,<9.0
